<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cc.mapper.ConfigAttributeMapper">
	     <!-- 结果对应-->
	<resultMap id="ConfigAttributeMap" type="com.cc.entity.ConfigAttribute">
		   <result property="attribute_id" column="attribute_id" /> <!-- -->
		   <result property="config_id" column="config_id" /> <!-- -->
		   <result property="attribute_name" column="attribute_name" /> <!-- -->
		   <result property="attribute_value" column="attribute_value" /> <!-- -->
		   <result property="attribute_desc" column="attribute_desc" /> <!-- -->
	</resultMap>
	
	
	<sql id="ConfigAttributeColumns">
		  attribute_id, config_id, attribute_name, attribute_value, attribute_desc
    </sql>
	
    <!-- 分页条件查询-->
	<select id="listPageConfigAttribute" resultMap="ConfigAttributeMap" 
	parameterType="com.cc.entity.ConfigAttribute">
		select
		<include refid="ConfigAttributeColumns" />
		from config_attribute 
		 <where>
                  <if test="attribute_id !=null">
			           and attribute_id=#{attribute_id}
			      </if>
                  <if test="config_id !=null">
			           and config_id=#{config_id}
			      </if>
                  <if test="attribute_name !=null and attribute_name!=''">
			           and attribute_name=#{attribute_name}
			      </if>
                  <if test="attribute_value !=null and attribute_value!=''">
			           and attribute_value=#{attribute_value}
			      </if>
                  <if test="attribute_desc !=null and attribute_desc!=''">
			           and attribute_desc=#{attribute_desc}
			      </if>
		</where>
	</select>
	
	<!-- 查询config_attribute的数量-->
	<select id="getConfigAttributeCount" resultType="Integer">
		select count(*)
		from config_attribute
	</select>
	
	<!-- 插入 -->
	<insert id="insert" parameterType="ConfigAttribute" 
	  useGeneratedKeys="true" keyProperty="id">
		INSERT INTO config_attribute (
			attribute_id, config_id, attribute_name, attribute_value, attribute_desc
		) VALUES (
			#{attribute_id}, #{config_id}, #{attribute_name}, #{attribute_value}, #{attribute_desc}
		)
	</insert>
	<!-- 有条件的插入 -->
	<insert id="insertSelective" parameterType="com.cc.entity.ConfigAttribute" useGeneratedKeys="true" keyProperty="attributeId">
		insert into config_attribute
		<trim prefix="(" suffix=")" suffixOverrides=",">
                  <if test="attribute_id !=null">
		      attribute_id,
		    </if>
                  <if test="config_id !=null">
		      config_id,
		    </if>
                  <if test="attribute_name !=null and attribute_name!=''">
		      attribute_name,
		    </if>
                  <if test="attribute_value !=null and attribute_value!=''">
		      attribute_value,
		    </if>
                  <if test="attribute_desc !=null and attribute_desc!=''">
		      attribute_desc,
		    </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		     <if test="attribute_id !=null">
		     #{attribute_id},
		    </if>
		     <if test="config_id !=null">
		     #{config_id},
		    </if>
		    <if test="attribute_name !=null and attribute_name!=''">
		     #{attribute_name},
		    </if>
		    <if test="attribute_value !=null and attribute_value!=''">
		     #{attribute_value},
		    </if>
		    <if test="attribute_desc !=null and attribute_desc!=''">
		     #{attribute_desc},
		    </if>
		</trim>
	</insert>	
	
	<!-- 根据主键查询(唯一)-->
	<select id="getConfigAttributeById" parameterType="Integer" resultMap="ConfigAttributeMap">
		select 
		<include refid="ConfigAttributeColumns" /> 
		from config_attribute where 
		  	attribute_id=#{attributeId}
	</select>
	
	<!-- 根据条件查询 config_attribute  -->
	<select id="listConfigAttribute" resultMap="ConfigAttributeMap" parameterType="com.cc.entity.ConfigAttribute">
		select
		<include refid="ConfigAttributeColumns" />
		from config_attribute 
		<where>
                  <if test="attribute_id !=null">
				and attribute_id=#{attribute_id}
			</if>
                  <if test="config_id !=null">
				and config_id=#{config_id}
			</if>
                  <if test="attribute_name !=null and attribute_name!=''">
				and attribute_name=#{attribute_name}
			</if>
                  <if test="attribute_value !=null and attribute_value!=''">
				and attribute_value=#{attribute_value}
			</if>
                  <if test="attribute_desc !=null and attribute_desc!=''">
				and attribute_desc=#{attribute_desc}
			</if>
		</where>
	</select>
	
	<!--更新  -->
	<update id="updateConfigAttribute" parameterType="com.cc.entity.ConfigAttribute">
		UPDATE config_attribute 
		SET
		attribute_id=#{attribute_id}, config_id=#{config_id}, attribute_name=#{attribute_name}, attribute_value=#{attribute_value}, attribute_desc=#{attribute_desc}
		WHERE
		attribute_id=#{attributeId}
	</update>
		<!--根据条件update  -->
    <update id="updateByPrimaryKeySelective" parameterType="com.cc.entity.ConfigAttribute" >
	  UPDATE config_attribute 
		<set>
                  <if test="attribute_id !=null">
			    attribute_id =  #{attribute_id},
			</if>
                  <if test="config_id !=null">
			    config_id =  #{config_id},
			</if>
                  <if test="attribute_name !=null and attribute_name!=''">
			    attribute_name =  #{attribute_name},
			</if>
                  <if test="attribute_value !=null and attribute_value!=''">
			    attribute_value =  #{attribute_value},
			</if>
                  <if test="attribute_desc !=null and attribute_desc!=''">
			    attribute_desc =  #{attribute_desc},
			</if>
	   </set>
		WHERE
	attribute_id=#{attributeId}
	</update>
	
	
	<!--根据条件删除  -->
	<delete id="deleteConfigAttribute" parameterType="com.cc.entity.ConfigAttribute">
		delete from config_attribute 
	<where>
                  <if test="attribute_id !=null">
				and attribute_id =  #{attribute_id}
			</if>
                  <if test="config_id !=null">
				and config_id =  #{config_id}
			</if>
                  <if test="attribute_name !=null and attribute_name!=''">
				and attribute_name =  #{attribute_name}
			</if>
                  <if test="attribute_value !=null and attribute_value!=''">
				and attribute_value =  #{attribute_value}
			</if>
                  <if test="attribute_desc !=null and attribute_desc!=''">
				and attribute_desc =  #{attribute_desc}
			</if>
		</where> 
		 
	</delete>
</mapper>