<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cc.mapper.ConfigMapper">
	     <!-- 结果对应-->
	<resultMap id="ConfigMap" type="com.cc.entity.Config">
		   <result property="config_id" column="config_id" /> <!-- 主键id-->
		   <result property="config_type" column="config_type" /> <!-- 类型code-->
		   <result property="config_name" column="config_name" /> <!-- 类型名称-->
		   <result property="config_value" column="config_value" /> <!-- 值-->
		   <result property="config_status" column="config_status" /> <!-- 是否启用-->
	</resultMap>
	
	
	<sql id="ConfigColumns">
		  config_id, config_type, config_name, config_value, config_status
    </sql>
	
    <!-- 分页条件查询-->
	<select id="listPageConfig" resultMap="ConfigMap" 
	parameterType="com.cc.entity.Config">
		select
		<include refid="ConfigColumns" />
		from config 
		 <where>
                  <if test="config_id !=null">
			           and config_id=#{config_id}
			      </if>
                  <if test="config_type !=null and config_type!=''">
			           and config_type=#{config_type}
			      </if>
                  <if test="config_name !=null and config_name!=''">
			           and config_name=#{config_name}
			      </if>
                  <if test="config_value !=null and config_value!=''">
			           and config_value=#{config_value}
			      </if>
                  <if test="config_status !=null and config_status!=''">
			           and config_status=#{config_status}
			      </if>
		</where>
	</select>
	
	<!-- 查询config的数量-->
	<select id="getConfigCount" resultType="Integer">
		select count(*)
		from config
	</select>
	
	<!-- 插入 -->
	<insert id="insert" parameterType="Config" 
	  useGeneratedKeys="true" keyProperty="id">
		INSERT INTO config (
			config_id, config_type, config_name, config_value, config_status
		) VALUES (
			#{config_id}, #{config_type}, #{config_name}, #{config_value}, #{config_status}
		)
	</insert>
	<!-- 有条件的插入 -->
	<insert id="insertSelective" parameterType="com.cc.entity.Config" useGeneratedKeys="true" keyProperty="configId">
		insert into config
		<trim prefix="(" suffix=")" suffixOverrides=",">
                  <if test="config_id !=null">
		      config_id,
		    </if>
                  <if test="config_type !=null and config_type!=''">
		      config_type,
		    </if>
                  <if test="config_name !=null and config_name!=''">
		      config_name,
		    </if>
                  <if test="config_value !=null and config_value!=''">
		      config_value,
		    </if>
                  <if test="config_status !=null and config_status!=''">
		      config_status,
		    </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		     <if test="config_id !=null">
		     #{config_id},
		    </if>
		    <if test="config_type !=null and config_type!=''">
		     #{config_type},
		    </if>
		    <if test="config_name !=null and config_name!=''">
		     #{config_name},
		    </if>
		    <if test="config_value !=null and config_value!=''">
		     #{config_value},
		    </if>
		    <if test="config_status !=null and config_status!=''">
		     #{config_status},
		    </if>
		</trim>
	</insert>	
	
	<!-- 根据主键查询(唯一)-->
	<select id="getConfigById" parameterType="Integer" resultMap="ConfigMap">
		select 
		<include refid="ConfigColumns" /> 
		from config where 
		  	config_id=#{configId}
	</select>
	
	<!-- 根据条件查询 config  -->
	<select id="listConfig" resultMap="ConfigMap" parameterType="com.cc.entity.Config">
		select
		<include refid="ConfigColumns" />
		from config 
		<where>
                  <if test="config_id !=null">
				and config_id=#{config_id}
			</if>
                  <if test="config_type !=null and config_type!=''">
				and config_type=#{config_type}
			</if>
                  <if test="config_name !=null and config_name!=''">
				and config_name=#{config_name}
			</if>
                  <if test="config_value !=null and config_value!=''">
				and config_value=#{config_value}
			</if>
                  <if test="config_status !=null and config_status!=''">
				and config_status=#{config_status}
			</if>
		</where>
	</select>
	
	<!--更新  -->
	<update id="updateConfig" parameterType="com.cc.entity.Config">
		UPDATE config 
		SET
		config_id=#{config_id}, config_type=#{config_type}, config_name=#{config_name}, config_value=#{config_value}, config_status=#{config_status}
		WHERE
		config_id=#{configId}
	</update>
		<!--根据条件update  -->
    <update id="updateByPrimaryKeySelective" parameterType="com.cc.entity.Config" >
	  UPDATE config 
		<set>
                  <if test="config_id !=null">
			    config_id =  #{config_id},
			</if>
                  <if test="config_type !=null and config_type!=''">
			    config_type =  #{config_type},
			</if>
                  <if test="config_name !=null and config_name!=''">
			    config_name =  #{config_name},
			</if>
                  <if test="config_value !=null and config_value!=''">
			    config_value =  #{config_value},
			</if>
                  <if test="config_status !=null and config_status!=''">
			    config_status =  #{config_status},
			</if>
	   </set>
		WHERE
	config_id=#{configId}
	</update>
	
	
	<!--根据条件删除  -->
	<delete id="deleteConfig" parameterType="com.cc.entity.Config">
		delete from config 
	<where>
                  <if test="config_id !=null">
				and config_id =  #{config_id}
			</if>
                  <if test="config_type !=null and config_type!=''">
				and config_type =  #{config_type}
			</if>
                  <if test="config_name !=null and config_name!=''">
				and config_name =  #{config_name}
			</if>
                  <if test="config_value !=null and config_value!=''">
				and config_value =  #{config_value}
			</if>
                  <if test="config_status !=null and config_status!=''">
				and config_status =  #{config_status}
			</if>
		</where> 
		 
	</delete>
</mapper>