<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cc.mapper.MenuMapper">
	     <!-- 结果对应-->
	<resultMap id="MenuMap" type="com.cc.entity.Menu">
		   <result property="menuId" column="menu_id" /> <!-- 菜单id-->
		   <result property="menuName" column="menu_name" /> <!-- 菜单名字-->
		   <result property="menuUrl" column="menu_url" /> <!-- 菜单url-->
		   <result property="updateTime" column="update_time" /> <!-- 修改时间-->
		   <result property="updatePerson" column="update_person" /> <!-- 修改人-->
		   <result property="updatePersonId" column="update_person_id" /> <!-- 更新人-->
		   <result property="level" column="level" /> <!-- 等级-->
		   <result property="pId" column="p_id" /> <!-- 父id-->
		   <result property="isLocked" column="is_locked" /> <!-- 是否锁住能否被删除修改-->
		   <result property="enableFlag" column="enable_flag" /> <!-- 是否可用-->
		   <result property="menuSort" column="menu_sort" /> <!-- 菜单排序-->
	</resultMap>
	
	
	<sql id="MenuColumns">
		  menu_id, menu_name, menu_url, update_time, update_person, update_person_id, level, p_id, is_locked, enable_flag, menu_sort
    </sql>
	
    <!-- 分页条件查询-->
	<select id="listPageMenu" resultMap="MenuMap" 
	parameterType="com.cc.entity.Menu">
		select
		<include refid="MenuColumns" />
		from menu 
		 <where>
                  <if test="menuId !=null">
			           and menu_id=#{menuId}
			      </if>
                  <if test="menuName !=null and menuName!=''">
			           and menu_name=#{menuName}
			      </if>
                  <if test="menuUrl !=null and menuUrl!=''">
			           and menu_url=#{menuUrl}
			      </if>
                  <if test="updateTime !=null and updateTime!=''">
			           and update_time=#{updateTime}
			      </if>
                  <if test="updatePerson !=null and updatePerson!=''">
			           and update_person=#{updatePerson}
			      </if>
                  <if test="updatePersonId !=null">
			           and update_person_id=#{updatePersonId}
			      </if>
                  <if test="level !=null">
			           and level=#{level}
			      </if>
                  <if test="pId !=null">
			           and p_id=#{pId}
			      </if>
                  <if test="isLocked !=null and isLocked!=''">
			           and is_locked=#{isLocked}
			      </if>
                  <if test="enableFlag !=null and enableFlag!=''">
			           and enable_flag=#{enableFlag}
			      </if>
                  <if test="menuSort !=null and menuSort!=''">
			           and menu_sort=#{menuSort}
			      </if>
		</where>
	</select>
	
	<!-- 查询menu的数量-->
	<select id="getMenuCount" resultType="Integer">
		select count(*)
		from menu
	</select>
	
	<!-- 插入 -->
	<insert id="insert" parameterType="Menu" 
	  useGeneratedKeys="true" keyProperty="id">
		INSERT INTO menu (
			menu_id, menu_name, menu_url, update_time, update_person, update_person_id, level, p_id, is_locked, enable_flag, menu_sort
		) VALUES (
			#{menuId}, #{menuName}, #{menuUrl}, #{updateTime}, #{updatePerson}, #{updatePersonId}, #{level}, #{pId}, #{isLocked}, #{enableFlag}, #{menuSort}
		)
	</insert>
	<!-- 有条件的插入 -->
	<insert id="insertSelective" parameterType="com.cc.entity.Menu" useGeneratedKeys="true" keyProperty="id">
		insert into menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
                  <if test="menuId !=null">
		      menu_id,
		    </if>
                  <if test="menuName !=null and menuName!=''">
		      menu_name,
		    </if>
                  <if test="menuUrl !=null and menuUrl!=''">
		      menu_url,
		    </if>
                  <if test="updateTime !=null and updateTime!=''">
		      update_time,
		    </if>
                  <if test="updatePerson !=null and updatePerson!=''">
		      update_person,
		    </if>
                  <if test="updatePersonId !=null">
		      update_person_id,
		    </if>
                  <if test="level !=null">
		      level,
		    </if>
                  <if test="pId !=null">
		      p_id,
		    </if>
                  <if test="isLocked !=null and isLocked!=''">
		      is_locked,
		    </if>
                  <if test="enableFlag !=null and enableFlag!=''">
		      enable_flag,
		    </if>
                  <if test="menuSort !=null and menuSort!=''">
		      menu_sort,
		    </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		     <if test="menuId !=null">
		     #{menuId},
		    </if>
		    <if test="menuName !=null and menuName!=''">
		     #{menuName},
		    </if>
		    <if test="menuUrl !=null and menuUrl!=''">
		     #{menuUrl},
		    </if>
		    <if test="updateTime !=null and updateTime!=''">
		     #{updateTime},
		    </if>
		    <if test="updatePerson !=null and updatePerson!=''">
		     #{updatePerson},
		    </if>
		     <if test="updatePersonId !=null">
		     #{updatePersonId},
		    </if>
		     <if test="level !=null">
		     #{level},
		    </if>
		     <if test="pId !=null">
		     #{pId},
		    </if>
		    <if test="isLocked !=null and isLocked!=''">
		     #{isLocked},
		    </if>
		    <if test="enableFlag !=null and enableFlag!=''">
		     #{enableFlag},
		    </if>
		    <if test="menuSort !=null and menuSort!=''">
		     #{menuSort},
		    </if>
		</trim>
	</insert>	
	
	<!-- 根据主键查询(唯一)-->
	<select id="getMenuById" parameterType="Integer" resultMap="MenuMap">
		select 
		<include refid="MenuColumns" /> 
		from menu where 
		  	menu_id=#{menuId}
	</select>
	
	<!-- 根据条件查询 menu  -->
	<select id="listMenu" resultMap="MenuMap" parameterType="com.cc.entity.Menu">
		select
		<include refid="MenuColumns" />
		from menu 
		<where>
                  <if test="menuId !=null">
				and menu_id=#{menuId}
			</if>
                  <if test="menuName !=null and menuName!=''">
				and menu_name=#{menuName}
			</if>
                  <if test="menuUrl !=null and menuUrl!=''">
				and menu_url=#{menuUrl}
			</if>
                  <if test="updateTime !=null and updateTime!=''">
				and update_time=#{updateTime}
			</if>
                  <if test="updatePerson !=null and updatePerson!=''">
				and update_person=#{updatePerson}
			</if>
                  <if test="updatePersonId !=null">
				and update_person_id=#{updatePersonId}
			</if>
                  <if test="level !=null">
				and level=#{level}
			</if>
                  <if test="pId !=null">
				and p_id=#{pId}
			</if>
                  <if test="isLocked !=null and isLocked!=''">
				and is_locked=#{isLocked}
			</if>
                  <if test="enableFlag !=null and enableFlag!=''">
				and enable_flag=#{enableFlag}
			</if>
                  <if test="menuSort !=null and menuSort!=''">
				and menu_sort=#{menuSort}
			</if>
		</where>
	</select>
	
	<!--更新  -->
	<update id="updateMenu" parameterType="com.cc.entity.Menu">
		UPDATE menu 
		SET
		menu_id=#{menuId}, menu_name=#{menuName}, menu_url=#{menuUrl}, update_time=#{updateTime}, update_person=#{updatePerson}, update_person_id=#{updatePersonId}, level=#{level}, p_id=#{pId}, is_locked=#{isLocked}, enable_flag=#{enableFlag}, menu_sort=#{menuSort}
		WHERE
		menu_id=#{menuId}
	</update>
		<!--根据条件update  -->
    <update id="updateByPrimaryKeySelective" parameterType="com.cc.entity.Menu" >
	  UPDATE menu 
		<set>
                  <if test="menuId !=null">
			    menu_id =  #{menuId},
			</if>
                  <if test="menuName !=null and menuName!=''">
			    menu_name =  #{menuName},
			</if>
                  <if test="menuUrl !=null and menuUrl!=''">
			    menu_url =  #{menuUrl},
			</if>
                  <if test="updateTime !=null and updateTime!=''">
			    update_time =  #{updateTime},
			</if>
                  <if test="updatePerson !=null and updatePerson!=''">
			    update_person =  #{updatePerson},
			</if>
                  <if test="updatePersonId !=null">
			    update_person_id =  #{updatePersonId},
			</if>
                  <if test="level !=null">
			    level =  #{level},
			</if>
                  <if test="pId !=null">
			    p_id =  #{pId},
			</if>
                  <if test="isLocked !=null and isLocked!=''">
			    is_locked =  #{isLocked},
			</if>
                  <if test="enableFlag !=null and enableFlag!=''">
			    enable_flag =  #{enableFlag},
			</if>
                  <if test="menuSort !=null and menuSort!=''">
			    menu_sort =  #{menuSort},
			</if>
	   </set>
		WHERE
	menu_id=#{menuId}
	</update>
	
	
	<!--根据条件删除  -->
	<delete id="deleteMenu" parameterType="com.cc.entity.Menu">
		delete from menu 
	<where>
                  <if test="menuId !=null">
				and menu_id =  #{menuId}
			</if>
                  <if test="menuName !=null and menuName!=''">
				and menu_name =  #{menuName}
			</if>
                  <if test="menuUrl !=null and menuUrl!=''">
				and menu_url =  #{menuUrl}
			</if>
                  <if test="updateTime !=null and updateTime!=''">
				and update_time =  #{updateTime}
			</if>
                  <if test="updatePerson !=null and updatePerson!=''">
				and update_person =  #{updatePerson}
			</if>
                  <if test="updatePersonId !=null">
				and update_person_id =  #{updatePersonId}
			</if>
                  <if test="level !=null">
				and level =  #{level}
			</if>
                  <if test="pId !=null">
				and p_id =  #{pId}
			</if>
                  <if test="isLocked !=null and isLocked!=''">
				and is_locked =  #{isLocked}
			</if>
                  <if test="enableFlag !=null and enableFlag!=''">
				and enable_flag =  #{enableFlag}
			</if>
                  <if test="menuSort !=null and menuSort!=''">
				and menu_sort =  #{menuSort}
			</if>
		</where> 
		 
	</delete>
</mapper>